.container-movie-details {
  display: flex;
  flex-direction: column;
  width: 35vw;
  text-align: justify;
  margin: 20px 0;
  border: 1px #0000002e solid;
  box-shadow: 1px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  justify-content: space-between;
}

.container-movie-details p {
  padding: 0 10px;
  font-size: 0.8em;
}

.container-img {
  position: relative;
}

.container-img h1 {
  position: absolute;
  left: 10px;
  bottom: 0;
  color: white;
  font-size: 1em;
}

.container-img img {
  width: 100%;
}

.container-buttons {
  display: flex;
  border-top: 1px #adadac41 solid;
}

.container-buttons a {
  height: 20px;
  color: #ffa61e;
  padding: 5px 10px 0;
  text-decoration: none;

  font-size: 0.8em;
}
